<div id="main-wrapper" class="clearfix">
    <div class="column-wrapper clearfix">
        <div class="column column-left">
            <h2>Войдите в личный кабинет</h2>
            <form name="loginForm" role="form" novalidate ng-submit="loginForm.$valid && login()">
                
                <dl class="zend_form">
                    <dt id="Login-label">
                        <label for="Email" class="required">E-mail</label>
                    </dt>
                    <dd id="Login-element">
                        <input ng-model="email" class="form-control" placeholder="E-mail" type="email" value="admin@agentoffice.finotdel.ru" autofocus="" required="">
                    </dd>
                    <dt id="Password-label"><label for="Password" class="required">Пароль</label></dt>
                    <dd id="Password-element">
                        <input ng-model="password" class="form-control" placeholder="Пароль" type="password" value="example_pass" required="">
                        <span class="help-block" style="color: red;" ng-show="failedAuth">Неверное имя пользователя или пароль</span>
                    </dd>
                    <div class="form-actions">
                            
                    </div>
                    <button type="submit" class="btn btn-primary btn-primary">Вход</button>
                    <button type="button" class="btn btn-primary btn-info" ng-click="openForgotPasswordModal()">Забыли пароль?</button>
                </dl>
            </form>
        </div>

        <div class="column-right">

            <div id="register-link">
                <button type="button" class="btn btn-primary btn-primary btn-log" ng-click="openRegistrationModal()">Зарегистрироваться</button>
</div>
            <div class="hint">Если Вы не являетесь нашим агентом, но хотите им стать - просим оставить заявку на регистрацию. В ближайшее время мы с Вами свяжемся.</div>
        </div>
    </div>
</div>
   